body {
  height: 100%;
}

.site-window {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $light-cian;
}

.admin-main-content {
  flex: 1;
}

.row .col  {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
  }
}

.admin-side-nav {
  background: $slategray;
  min-height: 100vh;
  margin-bottom: -2em;
}

.admin-side-nav a {
  padding: 0.5em 3em;
  text-decoration: none;
  font-size: 1.5em;
  color: $white;
}

li.active {
  background-color: $cian;
  border: 0.2em solid $slategray;
  border-radius: 0.5em;

  a {
    color: $black;
  }

  a:hover {
    color: $dark-cian;
  }
}

.admin-side-nav a:hover {
  color: $light-cian;
}

.admin-breadcrumb {
  margin: 1em 0em;
}

a.breadcrumb {
  color: $dark-cian;
  font-size: 1.1em;
}

.breadcrumb:before {
  color: $dark-cian;
  font-size: 1.2em;
}

.breadcrumb:last-child {
  color: $slategray;
}
