body {
  height: 100%;
}

.site-window {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $light-cian;
}

.admin-main-content {
  flex: 1;
}

li.active {
  background-color: $light-cian !important;

  a {
    color: $black;
  }

  a:hover {
    color: $dark-cian;
  }
}

.admin-breadcrumb {
  margin: 1em 0em;
}

.breadcrumb {
  color: $dark-cian;
  font-size: 1.1em;

  &:before {
    color: $dark-cian;
    font-size: 1.2em;
  }

  &:last-child {
    color: $slategray;
  }
}
