.article-topic {
  margin-top: 1em;
  letter-spacing: 0.077em;
  text-transform: uppercase;
  font-size: 0.9em;
}

.article-title {
  margin: 0.5em 0em;
  font-size: 2.5em;
}

.article-author {
  font-size: 0.9em;
}

.article-body {
  margin-top: 1em;
  font-size: 1.2em;
}

.article-meta-details {
  margin-top: 1em;
  font-size: 0.8em;
  color: $darkslategray;
}
