$dark-cian: #003f3f;
$light-cian: #e0ffff;
$cian: #afeeee;
$teal: #008080;
$blue-green: #26a69a;
$darkslategray: #2f4f4f;
$dark-grey: #202020;
$light-grey: #d3d3d3;
$pale-violet-red: #db7093;
$white: #ffffff;
$slategray: #708090;
$cosmic-latte: #fff9e3;
$black: #000000;
