.site-window {
  display: flex;
  min-height: 600px;
  flex-direction: column;
  background-color: $light-cian;
}

.site-main-content {
  flex: 1;
}

.error {
  color: $pale-violet-red;
  .error_message {
    font-size: 1.2em;
  }
}

.last-line {
  padding-bottom: 20px;
}
