.site-window {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $light-cian;
}

.site-main-content {
  flex: 1;
}

.error {
  color: $pale-violet-red;
  text-align: left;

  .error_message {
    font-size: 1.2em;
  }

  ul:not(.browser-default) > li {
    list-style-type: square;
  }
}

.form-title {
  margin: 1.5em 0 0.75em;
}

.form-card {
  display: inline-block;

  .pink-text {
    color: $pale-violet-red;
    font-size: 1.2em;
  }

  .pink-text-small {
    @extend .pink-text;
    font-size: 0.9em;
  }

  .btn {
    margin-top: 2em;
    width: 100%;
    font-size: 1.2em;
    border-radius: 0.4em;
    text-transform: none;
    color: $white;
  }
}

.bottom-space {
  margin-bottom: 2em;
}

.top-space {
  margin-top: 2em;
}

/* Remove input background colour for Chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 1.85em $white inset !important;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: $cian;
}

.link-as-button {
  font-size: 0.8em;
  background-color: $slategray;
  color: $white;
  padding: 0.5em 1em;
  border-radius: 0.4em;

  a:hover {
    background-color: $dark-cian;
  }
}

a.link-as-button:hover {
  background-color: $dark-cian;
}

.link-as-button-big {
  @extend .link-as-button;
  font-size: 1em;
  background-color: $teal;
}

a.link-as-button-big:hover {
  background-color: $blue-green;
}

.default-card {
  margin: 2em;
  padding: 1em 2em;
  border: 0.1em solid $light-grey;
  background-color: $white;
  min-width: 50%;
}

.field_with_errors {
  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    border-bottom: 1px solid $red;
  }
}

.hint {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: $slategray;
  font-size: 0.8em;
}
