#toast-container {
  position: fixed !important;
  top: 4em !important;
  left: 11em !important;
}

.toast {
  top: 2em;
  width: 90%;
  clear: both;
  margin-top: 1em;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 3em;
  line-height: 1.5em;
  word-break: keep-all;
  background-color: $cosmic-latte;
  padding: 0.5em 2em;
  font-size: 1.1em;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default-card {
  margin: 2em;
  padding: 1em 2em;
  border: 0.1em solid $light-grey;
  background-color: $white;
  min-width: 50%;
}

.search-form-card {
  @extend .default-card;
  margin: 0em;
  padding: 1em;
  
  .btn {
    margin-top: 1.5em;
    width: 100%;
    font-size: 1.2em;
    text-transform: none;
  }

  .btn-zero-top-space {
    @extend .btn;
    margin-top: 0em;
  }
}


.sort_link {
  color: $slategray;
  text-decoration: underline;
}

.dropdown-content {
  li {
    line-height: 1em;
    padding: 0em;
  }
}

.pagination {
  li.active {
    background-color: $light-cian !important;
    border-bottom: 0.2em solid $teal;

    a {
      color: $teal;
    }
  }

  a:hover {
    color: $teal;
  }
}

.zero-bottom-space {
  .row {
    margin-bottom: 0em;
  }
}
